/*general*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);



.morecontent span {
	display: none;
}
.morelink {
	display: block;
}
/* togle animation */

.navbar-inverse .navbar-toggle.active .icon-bar {
	background-color: #fff;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	top: 2px;
}

.navbar-toggle .icon-bar {
	position: relative;
	transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	top: 9px;
	transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	top: -9px;
	transform: rotate(-45deg);
}

.navbar-inverse .navbar-toggle.active {
	background: #415159;
}

/*navigation*/
.navbar-inverse {
	background: #fff;
	border: none;
}

.navbar {
	min-height: 70px;
	margin-bottom: 0;
	border: none;
	box-shadow: 1px 1px 1px #CCC;
}

.navbar-brand {
	height: 70px;
	padding: 3px;
}

.navbar-brand img {
	width: 100px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #415159;
	margin: 5px auto;
	border-radius: 3px;
}


.navbar-toggle {
	width: 70px;
	height: 70px;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 36px;
	height: 4px;
	border-radius: 1px; 
}

a.nav-expander {
	background: none repeat scroll 0 0 #fff;
	color: #FFFFFF;
	display: block;
	font-size: 15px;
	font-weight: 400;
	height: 70px;
	margin-right: 0;
	position: absolute;
	right: 0;
	text-decoration: none;
	text-transform: uppercase;
	top: 0;
	transition: right 0.3s ease-in-out 0s;
	width: 70px;
	z-index: 12;

	transition: right 0.3s ease-in-out 0s;
	-webkit-transition: right 0.3s ease-in-out 0s;
	-moz-transition: right 0.3s ease-in-out 0s;
	-o-transition: right 0.3s ease-in-out 0s;
}

a.nav-expander:hover {
	cursor: pointer;
}

a.nav-expander.fixed {
	position: fixed;
}

.nav-expanded a.nav-expander.fixed {
	right: 0;
}

.navbar-toggle {
	display: block;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 17px 10px 9px 10px;
	margin: 0 auto;
	background-color: transparent;
	background-image: none;
	border:none;
	border-radius: 0;
}

/*OffCanvas menu*/
nav {
	background: #415159;
	display: block;
	height: 100%;
	overflow: auto;
	position: fixed;
	right: -25em;
	font-size: 15px;
	top: 0;
	width: 25em;
	z-index: 2000;
	top:70px;
	transition: right 0.3s ease-in-out 0s;
	-webkit-transition: right 0.3s ease-in-out 0s;
	-moz-transition: right 0.3s ease-in-out 0s;
	-o-transition: right 0.3s ease-in-out 0s;

}

.nav-expanded nav {
	right: 0;
	top:70px;
}

body.nav-expanded {
	margin-left: 0em;
	transition: right 0.4s ease-in-out 0s;
	-webkit-transition: right 0.4s ease-in-out 0s;
	-moz-transition: right 0.4s ease-in-out 0s;
	-o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 24px;
	padding-right: 10px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	content: '\f105';
}

.main-menu li > a > span.icon {
	float: right;
	margin: 0.1em 1.7em -0.1em 0;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
	float: right;
	margin: 0.1em 0.8em -0.1em 0;
	opacity: 1;
}

/* Animation */
.main-menu {
	padding-top: 12px;
}

.main-menu li {
	margin-left: 20px;
	font-size: 17px;
	padding: 12px;
}

.main-menu li a {
	color: #fff;
	text-decoration: none;
}

.main-menu li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.main-menu li .sub-nav {
	border-bottom: 0px;
	padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
	content: '\f105';
}

.main-menu li > a > span.icon {
	float: right;
	margin: 0.1em 1.7em -0.1em 0;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
	float: right;
	margin: 0 0.8em -0.1em 0;
	opacity: 1;
}
/* Flex box */
.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: -.3px;
}
.inner-box {
	max-width: 100%;
}
/* ioion one */
.jumbotron {
	background: #37a6d0;
	margin-top:70px;
	margin-bottom: 0;
}

.jumbotron h1,p {
	color: #fff;
}

.jumbotron h1 {
	line-height: 50px;
	font-size: 49px;
	font-weight: 600;
	margin-bottom: 30px;
}

/* Section-two */
.section-two {
	padding: 20px 0 40px 0;
}

.section-two h2,.section-two h3 {
	color: #e91b68;
}

.section-two h2 {
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 35px;
}

.section-two h3 {
	margin-bottom: 60px;
	font-size: 25px;
	font-style: italic;
}

.section-two p {
	color: #494949;
	font-size: 18px;
	margin-bottom: 30px;
}

/*Section three*/
.section-three {
	background: url(../images/section-3-bg_02.png);
	background-size: cover;
	padding: 30px 0 30px 0;
}

.section-three h2,.section-three h4 {
	color: #fff;
}

.section-three h2 {
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 35px;
	text-align: center;
}

.section-three h4 {
	margin-bottom: 30px;
	font-size: 20px;
	font-style: italic;
}

.section-three p {
	color: #fff;
	font-size: 18px;
}

.more {
	display: block;
	color:#fff; 
	font-size: 20px;
	margin: 40px 0;
}

.more:hover,.more:active,.more:focus {
	color:#fff;
	text-decoration: none;
}

.read-more-wrap {
	transition: all 0.4s ease 0s;
}

.read-more-state {
	display: none;
}

.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	position: absolute;
	top:0;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font-size: 18px;
	max-height: 999em;
	position: relative;
	margin-bottom: 30px;
}

.read-more-state ~ .read-more-trigger:before {
	content: 'VER MÃS';
}

.read-more-state:checked ~ .read-more-trigger:before {
	content: 'VER MENOS';
}

.read-more-trigger {
	cursor: pointer;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	line-height: 2;
	border-radius: .25em;
	font-weight: 400;
	position: relative;
	padding: 40px 0;
}
#stores{
	margin-top: 30px;
}
#stores img{
	height: 50px;
	width: auto;
	margin: 0px 15px;
}
/* Section four */
.section-four {
	padding: 40px 0 0 0;
	background: #eee;
}
.headline-adjustment {
	position: relative;
	text-align: center;
}
.section-four h2{
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 35px;
	color: #e91b68;
}

.section-four .read-more-wrap p{
	font-weight: 400;
	font-size: 18px;
	color: #555555;
	margin-bottom: 30px;
}

.new.read-more-trigger {
	color: #e91b68;
	position: relative;
	padding: 0;
	padding-bottom: 40px;
}

/* Section five */
.section-five {
	padding: 40px 0 40px 0;
	background: url(../images/section-5-bg.png) no-repeat center;
	background-size: cover;
}

.section-five h2,.section-five p {
	color: #fff;
}

.section-five h2 {
	text-align: center;
	font-size: 35px;
	margin-bottom: 40px;
}

.section-five p {
	font-size: 18px;
	margin-bottom: 20px;
}


/* Section-six */
.section-six {
	padding: 40px 0;
}

.section-six h2,.section-six h3 {
	color: #e91b68;
}

.section-six h2 {
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 35px;
	text-align: center;
}

.section-six h3 {
	margin-bottom: 60px;
	font-size: 25px;
	font-style: italic;
	text-align: left;
}

.section-six p {
	color: #494949;
	font-size: 18px;
	margin-bottom: 30px;
}

/* Form section */
.form-section {
	padding: 40px 0;
	background-color: #0092c9;
}


.form-section h2 {
	color:#fff;
	text-align: center;
	font-size: 35px;
	margin-bottom: 60px;
}

.form-control {
	border: 2px solid #fff;
	background-color: #0092c9;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 0;
	padding: 13px 19px;
	height: 40px;
}

.form-control:active,.form-control:focus {
	border-color: #fff;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.custom-btn {
	background-color: #fff;
	color: #0092c9;
	border-radius: 0;
	min-width: 140px;
	margin: 20px 0 50px 0;
	font-weight: 600;
	border:1px solid #fff;
	transition: all 0.4s ease 0s;
	padding: 10px 0;
}

.custom-btn:hover {
	background: #0092c9;
	color: #fff;
	border:1px solid #fff;
}
 
/* Section seven */
.section-seven {
	background: #252525;
	padding: 20px;
	text-align: center;
	color: #fcfcfc;
}

/* Misc */

.relative-row {
	position: relative;
}

.button, a {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	-o-user-select: none;
	text-align: center;
} 

/*media query*/
@media(min-width: 768px) {
	.tree {
		bottom: 0;
		position: absolute;
		right: 0;
		max-width: 500px
	}
}

@media(min-width: 1200px) {
	.section-two > div {
		padding-right: 75px;
		padding-left: 75px;
	}
}

@media(min-width: 1330px) {
	.tree img {
		width: 110%;
		max-width: 110%;
		right: -20px;
		position: relative;
	}
}

@media(max-width: 992px) {
	/* Section one */
	.jumbotron {
		background: #37a6d0;
		margin-top:70px;
		margin-bottom: 0;
	}

	.jumbotron h1 {
		line-height: 40px;
		font-size: 40px;
	}

	/* Section-two */
	.section-two {
		padding: 20px 0 40px 0;
	}

	.section-two h2,.section-two h3 {
		color: #e91b68;
	}

	.section-two h2 {
		margin-bottom: 30px;
		font-size: 30px;
	}

	.section-two h3 {
		margin-bottom: 40px;
		font-size: 22px;
	}

	.section-two p {
		font-size: 16px;
	}

	/*Section three*/
	.section-three {
		padding: 30px 0 30px 0;
	}

	.section-three h2,.section-three h4 {
		color: #fff;
	}

	.section-three h2 {
		font-weight: 600;
		margin-bottom: 30px;
		font-size: 30px;
	}

	.section-three h4 {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.section-three p {
		font-size: 16px;
	}

	/* Section four */
	.section-four {
		padding: 40px 0 0 0;
	}
	.section-four .row {
		display: flex;
		flex-wrap: wrap;
	}

	.section-four .row > [class*='col-'] {
		display: flex;
		flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		align-self: center;
		margin: -0.2px;
	}

	.section-four h2 {
		font-size: 30px;
	}

	.section-four .read-more-wrap p{
		font-size: 16px;
		margin-bottom: 20px;
	}

	.new.read-more-trigger {
		padding-bottom: 30px;
	}

	/* Section five */
	.section-five {
		padding: 40px 0 40px 0;
	}

	.section-five h2,.section-five p {
		color: #fff;
	}

	.section-five h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.section-five p {
		font-size: 16px;
		margin-bottom: 15px;
	}


	/* Section-six */

	.section-six h2 {
		margin-bottom: 30px;
		font-size: 30px;
	}

	.section-six h3 {
		margin-bottom: 40px;
		font-size: 22px;
	}

	.section-six p {
		font-size: 16px;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	/* Section one */
	.jumbotron h1 {
		font-size: 25px;
		margin-bottom: 25px;
		text-align: center;
		line-height: 30px;
	}
	.jumbotron p {
		font-size: 18px;
		margin-bottom: 25px;
		text-align: center;
	}

	.jumbotron img {
		max-width: 200px;
		margin: 0 auto;
	}
	.jumbotron  [class*='col-'] {
		margin: 0 auto;
	}
	/* Section-two */
	.section-two {
		padding: 20px 0 40px 0;
	}

	.section-two h2 {
		margin-bottom: 30px;
		font-size: 24px;
	}

	.section-two h3 {
		margin-bottom: 40px;
		font-size: 18px;

	}

	.section-two p {
		font-size: 16px;
	}

	/*Section three*/
	.section-three h2 {
		margin-bottom: 30px;
		font-size: 24px;
	}

	.section-three h4 {
		margin-bottom: 30px;
		font-size: 18px;
	}

	.section-three p {
		font-size: 16px;
	}

	.read-more-trigger {	
		font-size: 18px;
	}

	/* Section four */
	.section-four {
		padding: 30px 0 0 0;
	}
	.headline-adjustment {
		text-align: center !important;
	}

	.section-four h2 {	
		font-size: 24px;
	}

	.section-four .read-more-wrap p{	
		font-size: 16px;
		margin-bottom: 20px;
	}
    
    .section-four img {
    	max-width: 300px;
    }
	/* Section five */
	.section-five {
		padding: 30px 0 30px 0;
	}

	.section-five h2 {
		text-align: center;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.section-five p {
		font-size: 16px;
	}
	/* Section-six */
	.section-six {
		padding: 30px 0;
	}	

	.section-six h2 {
		margin-bottom: 30px;
		font-size: 24px;

	}

	.section-six h3 {
		font-size: 20px;
	}

	.section-six p {
		font-size: 16px;
	}
	/* Form section */
	.form-section {
		padding: 30px 0;
	}

	.form-section h2 {
		font-size: 24px;
		margin-bottom: 60px;
	}
}

.link, .link:visited, .link:hover {
	color: #FFF;
	text-decoration: underline;
}

.message {
	position: fixed;
	top: -200px;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 300px;
	background: white;
	border-radius: 8px;
	padding: 30px;
	text-align: center;
	font-weight: 300;
	color: #494949;
	opacity: 0;
	font-size: 20px;
  	font-family: 'open sans', sans-serif;
	transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.2s ease-in-out;
	box-shadow: 1px 1px 1px #CCC;
}

.message .check {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(4);
	width: 120px;
	height: 110px;
	background: #83c24a;
	color: white;
	font-size: 6rem;
	padding-top: 10px;
	border-radius: 50%;
	opacity: 0;
	transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
}

.message .scaledown {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.message p {
	font-size: 1.1rem;
	margin: 25px 0px;
	padding: 0;
	font-size: 2rem;
	color: #494949;
}

.message p:nth-child(2) {
	font-size: 3rem;
	margin: 40px 0px 0px 0px;
}

.message.success .ok, .message.failure .ok {
	position: relative;
	color: white;
	border: 0;
	background: #83c24a;
	width: 100%;
	height: 50px;
	border-radius: 6px;
	font-size: 2rem;
	transition: background 0.2s ease;
	outline: none;
}

.message.failure .check, .message.failure .ok {
	background: #e91b68;
}

.comein {
	top: 150px;
	opacity: 1;
}

@media (max-width: 490px) {
	nav {
		background: #415159;
		display: block;
		height: 100%;
		overflow: auto;
		position: fixed;
		right: -100%;
		font-size: 15px;
		top: 0;
		width: 100%;
		z-index: 2000;
		top:70px;
		transition: right 0.3s ease-in-out 0s;
		-webkit-transition: right 0.3s ease-in-out 0s;
		-moz-transition: right 0.3s ease-in-out 0s;
		-o-transition: right 0.3s ease-in-out 0s;
	}
}
